@import "tailwindcss";

/* Custom global styles */
body {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

.app-container {
  display: flex;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.page-content {
  min-height: 91vh;
  padding: 30px;

  background-image: url("/images/school.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

/* layer blanche باش تبان الكتابة */
.page-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 0;
}

.page-content > * {
  position: relative;
  z-index: 1;
}

/* design بسيط */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
